<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mp3tagedit.de.main">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".id3v24"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".FileExplorer"
            android:label="@string/app_name" >

        </activity>


        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".id3v24editor">

        </activity>
        <activity android:name=".id3v23editor"
            android:screenOrientation="portrait"/>
        <activity android:name=".FileManager"
            android:screenOrientation="portrait"/>
        <activity android:name=".tagtofile"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".settings"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".help"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>